<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MISSION TO MARS</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center header">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Mars Data -->
    <div class="row">
      <!-- Mars news -->
      <div class="col-md-12">
          <h2 class="heading">Latest Mars News</h2>
            <h4 class="heading">{{mars.news_title}}</h4>
            <p>{{mars.news_para}}</p>
      </div>
    </div>
    
    <div class="row">
      <!-- Featured image -->
      <div class="col-xs-12 col-sm-12 col-md-8">
          <h2 class="heading mt-3">Featured Mars Image</h2>
          <img src='{{mars.featured_image_url}}' alt="Featured Mars image" style="width: 100%;">
      </div>
      <!-- Mars current weather -->
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="card mt-3">
          <div class="card-body py-3">
          <h4 class="card-title">Current Weather on Mars</h4>
          <div class="card-text">{{mars.mars_weather}}</div>
        </div>
        </div>  
      
      <!-- Mars facts table -->
      
          <h4 class="heading text-left mt-3">Mars Facts</h4>
          {{mars.html_table | safe}}
          <!-- html_table -->
      </div>
    </div>
    <!-- Hemisphere photos (cards) -->
    <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="heading header-center mt-4">Mars Hemispheres</h2>
          <hr>
        </div>
        <div>
          {% for h in mars.hemisphere_urls %}
          <div class="col-md-6 float-right">
          <div class="card mt-2" style="width: 34rem;">
            <img src="{{h.img_url}}" class="card-img-top" alt="{{h.title}}">
            <div class="card-body">
              <h4 class="card-text">{{h.title}}</h4>
            </div>
          </div>
          </div>
          {% endfor %}
        </div>
    </div>
    <!--spacer-->
    <div class="spacer"></div>
  </div>
</body>

</html>
